<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.restaurantlocatoradmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/restaurant"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/restaurant"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewReviews"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".AdminHomeActivity"
            ></activity>
        <activity android:name=".CommentActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:parentActivityName=".ViewReviews"/>
        <activity
            android:name=".DeleteRestaurant"
            android:parentActivityName=".AdminHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".DeleteSingleRestaurant"
            android:label="Delete Restaurant"
            android:parentActivityName=".DeleteRestaurant" />
        <activity
            android:name=".EditRestaurant"
            android:label="Edit Restaurant"
            android:parentActivityName=".AdminUpdateRestaurant" />
        <activity
            android:name=".AdminUpdateRestaurant"
            android:parentActivityName=".AdminHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".AdminAddRestaurantActivity"
            android:parentActivityName=".AdminHomeActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".AdminHomeActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>